<%- include('layout/head')-%>
<body class="text-center">
    <div class="p-5 d-flex justify-content-center">
		<div class="card" style="box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2); ">
			<div class="card-body">
                <h1><%= title %></h1>
			</div>
		</div>
	</div>
    <%- include('layout/footer')-%>
</body>
</html>