.navbar-brand h3 {
    color: #da8cff;
}

.scrapped-email-table thead tr th {
    font-weight: bold;
}

.scrapped-email-table code {
    font-weight: bold;
    color: black;
}

.recharts-pie-labels > .recharts-layer > text {
    font-size: 12px;
}

.css-df17o1 {
    background: rgba(0, 0, 0, 0.4) !important;
}