.navbar-brand h3 {
    color: #da8cff;
}

#sidebar, .navbar-menu-wrapper {
    box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
}

.scrapped-email-table thead tr th {
    font-weight: bold;
}

.scrapped-email-table code {
    font-weight: bold;
    color: black;
}

.recharts-pie-labels > .recharts-layer > text {
    font-size: 12px;
}