
::-webkit-scrollbar-track {
  /* border-radius: 0px; */
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

* {
  scrollbar-width: thin;
  /* scrollbar-color: darkgrey #F5F5F5; */
}

@media screen and (min-width: 966px) {
  ::-webkit-scrollbar, .scroller {
    width: 8px;
    height: 8px;
    background-color: #f1f1f1;
  }
}
 
::-webkit-scrollbar-thumb {
    /* border-radius: 0px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
   background-color: #888;
   border-radius: 10px;
}

.navbar-brand h3 {
    color: #da8cff;
}

.scrapped-email-table thead tr th {
    font-weight: bold;
}

.scrapped-email-table code {
    font-weight: bold;
    color: black;
}

.recharts-pie-labels > .recharts-layer > text {
    font-size: 12px;
}

.css-df17o1 {
    background: rgba(0, 0, 0, 0.4) !important;
}