<!-- views/layout/footer.ejs -->

<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© All Rights Reserved
    <a href="https://arifszn.github.io/"> Ariful Alam</a>
  </div>
  <!-- Copyright -->

</footer>